<?xml version="1.0" encoding="UTF-8"?>
<Context path="/Phim">
  <Environment name="serverName" type="java.lang.String" value="LAPTOP-KULOBNV1\SQLEXPRESS"/>
  <Environment name="dbName" type="java.lang.String" value="Hotel"/>
  <Environment name="portNumber" type="java.lang.String" value="1433"/>
  <Environment name="image" type="java.lang.String" value="images/"/>
</Context>