/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Jul-2022, 20:12:48
    Author     : Admin
*/



@keyframes dotdot {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.digital-clock{
    position: relative;
    padding: 10px 5px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px #cc8c18;
    width: 200px;
    border-radius: 10px;
    color: #cc8c18;
 
}

.time{
    position: relative;

}

.hour, .dot,.minutes{
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 5px;
    line-height: 50px;
}


.hour, .minutes{
    font-size: 2em;
    width: 40px;
}
.dot{
    font-size: 1.5em;
    color: #929292;
    animation: dotdot 1s infinite ease-in-out;
}

.right-side{
    margin-left: 14px;
}

.period,.second{
    font-weight: 600;
    font-size: 1.2em;
}
.period{
    transform: translateY(-8px);
}
.second{
    transform: translateY(8px);
}

.calendar{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 5px;
}
.month-name{

}
.date-number,.month-name{
    margin-left: 5px;
}