/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2022, 5:13:41 PM
    Author     : DELL
*/

/*#LeftTableContent{
    background-color:red;
    
}

#RightTableContent{
    background-color: white;
}

#toptable{
    background-color: white;
}

.LeftTableDetail{
    width: 100%;
}

.a_left {
  color: orange;
  font-size: 20px
}

.a_left_profile{
    color:  #33ccff;
    font-size: 20px;
      text-decoration: none;
}

.a_left_profile:hover{
    text-decoration: none;
  color: red;
}

.a_left:link{
  text-decoration: none;
  color: red;
}

.a_left:visited {
  text-decoration: none;
}

.a_left:hover {
  text-decoration: none;
  color: red;
}

.a_left:active {
  text-decoration: none;
  color: red;
}*/